*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.navbar a.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-items{
    width: 40%;
}

/* .navbar button:focus{
    outline: none;
} */

.w-100{
    height: 100vh;
}

.carousel-item{
    height: 100vh;
    min-width: 300px;
}

.carousel-caption{
    bottom: 300px;
    z-index: 2;
}

.carousel-caption h1{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    font-size: 20px;
    width: 60%;
    margin: auto;
}

.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/*======= header responsive =======*/

@media only screen and (min-width: 767px) and (max-width: 991px){
    .carousel-caption{
        bottom: 370px;
    }
    .carousel-caption h1{
        font-size: 1.3rem;
    }
    
    .carousel-caption p{
        width: 100%;
    }
    .navbar button span{
        font-size: 1rem;
    }

}
@media only screen and (max-width: 767px){
    .carousel-caption{
        bottom: 10px;
    }
    .carousel-caption h1{
        font-size: 1.3rem;
    }
    
    .carousel-caption p{
        font-size: 15px;
        width: 100%;
    }
    .navbar button span{
        font-size: 1rem;
    }
    .carousel-inner{
        height: 50vh;
    }

}








/*======= section about =======*/

.about-img img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}


/*======= section services =======*/
.card-article{
    position: relative;
    overflow: hidden;
}

.card-img{
    /* min-width: 350px; */
    border-radius: 1.5rem;
    height: 350px;
}

.card-data{
    background-color: white;
    width: 350px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .15);
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    position: absolute;
    bottom: -17rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card-article:hover .card-data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card-article:hover{
    animation: remove-overflow 2s forwards;
}

.card-article:not(:hover){
    animation: show-overflow 2s forwards;
}

.card-article:not(:hover) .card-data{
    animation: remove-data 1s forwards;
}

/*=== animations ===*/
@keyframes show-data {
    50%{
        transform: translateY(-20rem);
    }
    100%{
        transform: translateY(-15rem);
    }
}

@keyframes remove-overflow {
    to{
        overflow: initial;
    }
}

@keyframes remove-data {
    0%{
        transform: translateY(-15rem);
    }
    50%{
        transform: translateY(-20rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

/*======= card responsive =======*/

@media screen and (min-width: 991px) and (max-width: 1200px){
    .card-data{
        width: 250px;
        /* padding: 1rem; */
        /* width: fit-content(250px); */
    }
}
@media screen and (max-width: 991px){
    .card-data{
        width: 300px;
        padding: 1rem;
    }
}
@media screen and (max-width: 340px){
    .card-data{
        width: 250px;
        padding: 1rem;
    }
}


/*======= section appel =======*/

.appel{
    background: linear-gradient(rgba(0, 0, 0, 0.505), rgba(0, 0, 0, 0.362)), url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 40vh;
}

.appel .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
